<div class="panel panel-default">
    <div class="panel-heading">
        Customers
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li ng-repeat="customer in customers"
            class="list-group-item {{customer.active ? 'list-group-item-info' : ''}}" >
            {{customer.left}} , {{customer.top}}
              <span class='badge'>{{customer.demand}}</span>
            </li>
            <li ng-click="addCustomer()" class='btn list-group-item'>Add</li>
        </ul>
    </div>
</div>
