<div class="map-container">
  <div class="hover" ng-if="ctrl.loading">
    <div class="loader"></div>
  </div>
  <div class="row wrapper">
    <div class="col-md-3 properties-panel">
      <hr />
      <uib-accordion close-others="false">
        <div uib-accordion-group is-open="true" class="panel-default" heading="Settings">
          <div class="form-group input-group input-group-sm">
            <span class="input-group-addon">Maximum capacity</span>
            <input type='number' class="form-control" aria-describedby="cap-label" ng-model="ctrl.settings.capacity" />
          </div>
          <div class="form-group input-group input-group-sm">
            <span class="input-group-addon">Distance calculation</span>
            <select class="form-control" id="distance" ng-model="ctrl.settings.distance">
              <option value="air">Air</option>
              <option value="road">Road</option>
            </select>
          </div>
          <div ng-if="ctrl.settings.distance == 'air'" class="form-group input-group input-group-sm">
            <span class="input-group-addon">Geographical distance</span>
            <select class="form-control" disabled id="geo_distance" ng-model="ctrl.settings.geo_distance">
              <option value="spherical">Spherical</option>
              <option value="ellipsoidal">Ellipsoidal</option>
            </select>
          </div>
          <div class="form-group input-group input-group-sm">
            <span class="input-group-addon">Algorithm</span>
            <select class="form-control" id="algorithm" ng-model="ctrl.settings.algorithm">
              <option value="jsprit">Meta-heuristic (jsprit library)</option>
              <option value="random">Random solution</option>
              <option value="savings">Clarke and Wright savings</option>
            </select>
          </div>
        </div>
        <div uib-accordion-group is-open="true" class="panel-default" heading="Current element">
          <properties-panel selected-object="ctrl.selectedObject"></properties-panel>
        </div>
      </uib-accordion>
      <hr />
      <button class="btn btn-default" ng-click="ctrl.solve()">Solve</button>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div id="mapid" style="height:80vh"></div>
      </div>
    </div>
  </div>
</div>
