<div style="padding:10px;">
  <div class="wrapper">
    <div class="hover" ng-if="ctrl.loading">
      <div class="loader"></div>
    </div>
    <div class="row well wrapper">
      <div class="col-md-4">
        <properties-panel selected-object="ctrl.selectedObject"></properties-panel>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div id="mapid" style="height:500px"></div>
          <hr />
          <button class="btn btn-default" ng-click="ctrl.solve()">Solve</button>
        </div>
      </div>
    </div>
  </div>
</div>
