<div>
  <div ng-if='selectedObject'>
    <div ng-if='selectedObject.type !== undefined'>
      <div class="form-group input-group input-group-sm">
        <span class="input-group-addon" id="basic-addon3">ID</span>
        <input type='number' disabled class="form-control" ng-model="selectedObject.point.id" />
      </div>
      <div ng-if='selectedObject.type == "customer"' class="form-group input-group input-group-sm">
        <span class="input-group-addon" id="demand-label">Demand</span>
        <input type='number' class="form-control" aria-describedby="cap-label" ng-model="selectedObject.point.demand" />
      </div>
      <div class="form-group input-group input-group-sm">
        <span class="input-group-addon" id="customer-x">x</span>
        <input type='number' class="form-control" disabled aria-describedby="cap-label" ng-model="selectedObject.point.coordinates.x" />
      </div>
      <div class="form-group input-group input-group-sm">
        <span class="input-group-addon" id="customer-y">y</span>
        <input type='number' class="form-control" disabled aria-describedby="cap-label" ng-model="selectedObject.point.coordinates.y" />
      </div>
    </div>
  </div>
  <div ng-if='selectedObject == undefined'>
    Select something...
  </div>
</div>
