<div style="height: 100%;">
    <mat-tab-group class="tabs-content">
      <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="small-icon">info_outline</mat-icon> Info
        </ng-template>
        <vrp-base-info></vrp-base-info>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="small-icon">assignment_turned_in</mat-icon> Solutions
        </ng-template>
        <vrp-solutions></vrp-solutions>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="small-icon">store_mall_directory</mat-icon> Customers
        </ng-template>
        <vrp-customers-list></vrp-customers-list>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="small-icon">help_outline</mat-icon> Problems
        </ng-template>
        <vrp-problems></vrp-problems>
      </mat-tab>
    </mat-tab-group>
</div>

