/* app css stylesheet */

body{
  padding-bottom: 20vh;
  overflow: hidden;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu>li {
  display: inline;
}

.menu>li+li:before {
  content: "|";
  padding-right: 0.3em;
}

.log {
  font-size: 12px;
  height: 16vh;
  max-height: 16vh;
  margin: 20px;
}

.hover {
    margin-right: -15px;
    margin-left: -15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.5s;
    z-index: 9999;
}

.loader {
    border: 16px solid rgba(168, 168, 168, 0.44);
    border-top: 16px solid rgba(0, 115, 194, 0.82);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 30vh;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.footer {
    height: 20vh;
}

.properties-panel{
  overflow: auto;
  max-height: 80vh;
}

.map-container{
  position: relative;
}

.input-group-addon{
  min-width: 150px;
}
