<mat-toolbar *ngIf="!editEnabled">Editing disabled - problem has solutions</mat-toolbar>
<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
    <mat-cell *matCellDef="let customer"> {{customer.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="coords">
    <mat-header-cell *matHeaderCellDef> Coords</mat-header-cell>
    <mat-cell *matCellDef="let customer">
      <pre>x: {{customer.coordinates.x | number:'1.5-5'}}
y: {{customer.coordinates.y | number:'1.5-5'}}</pre>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="demand">
    <mat-header-cell *matHeaderCellDef> Demand</mat-header-cell>
    <mat-cell *matCellDef="let customer">
      <mat-form-field *ngIf="editEnabled">
        <input matInput type="number" [(ngModel)]="customer.demand">
      </mat-form-field>
      <span *ngIf="!editEnabled">
        {{customer.demand}}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
    <mat-cell *matCellDef="let customer">
      <div *ngIf="editEnabled" class="button-row" style="margin-left: 10px;">
        <button color="warn" mat-icon-button (click)="deleteCustomer(customer)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let customer; columns: displayedColumns;"></mat-row>
</mat-table>
