<div class="login-form-container">
  <mat-card>
    <mat-card-title>
      <span>Register</span>
    </mat-card-title>
    <mat-card-content>
      <div class="login-form">
        <mat-form-field>
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Register</button>
      <span class="mat-card-actions-spacer"></span>
      <a routerLink="/login" mat-button>or login here</a>
    </mat-card-actions>
  </mat-card>
</div>
