<div>
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef width="10%"> Actions</mat-header-cell>
      <mat-cell *matCellDef="let route">
        <mat-checkbox (change)="toggle(route)" checked="true"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="length">
      <mat-header-cell *matHeaderCellDef> Length</mat-header-cell>
      <mat-cell *matCellDef="let route"> {{route.routeLength | number : '1.4-4' }}km</mat-cell>
    </ng-container>

    <ng-container matColumnDef="bar">
      <mat-header-cell *matHeaderCellDef>-</mat-header-cell>
      <mat-cell *matCellDef="let route">
        <div class="bar-container">
          <div class="bar-slider" [ngStyle]="{ 'background': route.color}">
          </div>
          <div class="bar-pointer" *ngFor="let point of route.points"
               [ngStyle]="{ 'left': calculatePosition(route,point)}"
               matTooltip="{{point.id}}" matTooltipPosition="above">
          </div>
        </div>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row
      *matRowDef="let route; columns: displayedColumns;"
      (mouseenter)="setActive(route)"
      (mouseleave)="setNormal(route)"
    ></mat-row>

  </mat-table>
</div>
