.mat-column-actions {
  flex: 0 0 100px;
}

.mat-column-id {
  flex: 0 0 50px;
}

.mat-column-length {
  flex: 0 0 100px;
}

.bar-container {
  clear: both;
  position: relative;
  height: 19px;
}

.bar-slider {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #ccc;
  top: 7px;
}

.bar-pointer {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 5px solid #a6d8ef;
  background-color: #5082e0;
  opacity: .7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  left: -10px;
}

.mat-header-row, .mat-row {
  min-height: 22px !important;
}

.route-tab {
  padding:10px;
}
