<div class="login-form-container">
  <mat-card>
    <mat-card-title>
      <span>Log-in</span>
    </mat-card-title>
    <mat-card-content>
      <div class="login-form">
        <mat-form-field>
          <input [(ngModel)]="username"  matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input type="password" [(ngModel)]="password" matInput placeholder="Password">
        </mat-form-field>
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
      <span class="mat-card-actions-spacer"></span>
      <a routerLink="/register" mat-button>or register here</a>
    </mat-card-actions>
  </mat-card>
</div>
