<div class="login-form-container">
  <mat-card>
    <mat-card-title>
      <span>Change password</span>
    </mat-card-title>
    <mat-card-content>
      <div class="login-form">
        <mat-form-field>
          <input type="password" [(ngModel)]="oldPassword" matInput placeholder="Old password">
        </mat-form-field>
        <mat-form-field>
          <input type="password" [(ngModel)]="newPassword" matInput placeholder="New password">
        </mat-form-field>
        <mat-form-field>
          <input type="password" [(ngModel)]="confirmPassword" matInput placeholder="Confirm password">
        </mat-form-field>
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="changePassword()" color="primary">Change password</button>
      <span class="mat-card-actions-spacer"></span>
      <a routerLink="/" mat-button>back to app</a>
    </mat-card-actions>
  </mat-card>
</div>
