/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~leaflet/dist/leaflet.css";

body {
  margin: 0px;
}

.mat-tab-label {
  min-width: 50px !important;
}

.leaflet-grid-label .gridlabel-vert {
  margin-left: -10px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.leaflet-grid-label .gridlabel-horiz {
  margin-top: -15px;
}

.leaflet-grid-label .gridlabel-vert,
.leaflet-grid-label .gridlabel-horiz {
  padding-left: 2px;
  text-shadow: -2px 0 #FFFFFF, 0 2px #FFFFFF, 2px 0 #FFFFFF, 0 -2px #FFFFFF;
}
