/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~leaflet/dist/leaflet.css";

body {
  margin: 0px;
}

.mat-tab-label {
  min-width: 50px !important;
}

.leaflet-grid-label .gridlabel-vert {
  margin-left: -10px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.leaflet-grid-label .gridlabel-horiz {
  margin-top: -15px;
}

.leaflet-grid-label .gridlabel-vert,
.leaflet-grid-label .gridlabel-horiz {
  padding-left: 2px;
  text-shadow: -2px 0 #FFFFFF, 0 2px #FFFFFF, 2px 0 #FFFFFF, 0 -2px #FFFFFF;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fafafa;
}

.login-form {
  min-width: 500px;
  display: flex;
  flex-direction: column;
}

.login-form > * {
  width: 100%;
}

.mat-card-actions-spacer {
  flex: 1 1 auto;
}

.mat-card-actions {
  display: flex !important;
}

.label-container {
  display: flex;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  margin: 5px 0;
}

.label-title {
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
  flex-basis: 30%;
}

.label-value {
  flex-basis: 70%;
}

.mat-dialog-content {
  min-width: 300px;
}

.add-panel {
  margin: 20px;
}

.full-width {
  width: 100%;
}


