<div *ngIf="!loading" class="container">
  <div id="top-bar">
    <mat-toolbar color="primary" class="top-bar">
      <span>CVRP Solver</span>
      <span class="spacer"></span>
      <span>{{profile.username}}&nbsp;</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="openSettings()" mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <a routerLink="/password" mat-menu-item>
          <mat-icon>lock</mat-icon>
          <span>Change password</span>
        </a>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>
  <div id="main-view">
    <div id="main-menu-view">
      <vrp-main-menu></vrp-main-menu>
    </div>
    <div id="map-view">
      <vrp-map></vrp-map>
    </div>
  </div>
  <div id="bottom-view">
    <vrp-routes></vrp-routes>
  </div>
</div>

<div id="loading-screen">
  <div class="loading-spinner-container">
    <mat-spinner class="loading-spinner"></mat-spinner>
    <br/>
    <span id="loading-info">Loading...</span>
  </div>
</div>
