<h3 mat-dialog-title>Route</h3>
<mat-dialog-content>
  <mat-list dense>
    <mat-list-item>
      <div class="label-container">
        <div class="label-title">
          ID
        </div>
        <div class="label-value">
          {{customer.id}}
        </div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="label-container">
        <div class="label-title">
          X
        </div>
        <div class="label-value">
          {{customer.coordinates.x}}
        </div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="label-container">
        <div class="label-title">
          Y
        </div>
        <div class="label-value">
          {{customer.coordinates.y}}
        </div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="label-container">
        <div class="label-title">
          Demand
        </div>
        <div class="label-value">
          {{customer.demand}}
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
