<h3 mat-dialog-title>Route</h3>
<mat-dialog-content>
  <div class="label-container">
    <div class="label-title">
      ID
    </div>
    <div class="label-value">
      {{customer.id}}
    </div>
  </div>
  <div class="label-container">
    <div class="label-title">
      Name
    </div>
    <div class="label-value">
      {{customer.name}}
    </div>
  </div>
  <div class="label-container">
    <div class="label-title">
      X
    </div>
    <div class="label-value">
      {{customer.x}}
    </div>
  </div>

  <div class="label-container">
    <div class="label-title">
      Y
    </div>
    <div class="label-value">
      {{customer.y}}
    </div>
  </div>

  <div class="label-container">
    <div class="label-title">
      Demand
    </div>
    <div class="label-value">
      {{customer.demand}}
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
