<h3 mat-dialog-title>Route</h3>
<mat-dialog-content>

  <div class="label-container">
    <div class="label-title">
      Route length
    </div>
    <div class="label-value">
      {{route.routeLength| number : '1.3-3' }} km
    </div>
  </div>

  <div class="label-container">
    <div class="label-title">
      Color
    </div>
    <div class="label-value">
      <div style="height: 10px; border-radius: 4px" [style.background-color]="route.color"></div>
    </div>
  </div>

  <div class="label-container">
    <div class="label-title">
      Route
    </div>
    <div class="label-value">
      <ol>
        <li *ngFor="let r of route.points; let i = index;">
          {{r.name}}
        </li>
      </ol>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
