<div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Algorithm</mat-header-cell>
      <mat-cell *matCellDef="let solution"> {{solution.algorithm?.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="length">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Length</mat-header-cell>
      <mat-cell *matCellDef="let solution"> {{solution.routeLength | number : '1.4-4' }}km</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions:</mat-header-cell>
      <mat-cell *matCellDef="let solution">
        <button color="primary" mat-icon-button (click)="loadSolution(solution)">
          <mat-icon>open_in_browser</mat-icon>
        </button>
        <button color="warn" mat-icon-button (click)="deleteSolution(solution)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let solution; columns: displayedColumns;"></mat-row>

  </mat-table>

</div>
