<div style="margin:10px;">

  <mat-toolbar *ngIf="!depot">You need to add depot on map</mat-toolbar>

  <div *ngIf="depot" class="depot-container">
    <div><h5>Depot position:</h5></div>
    <div>
      <pre>x: {{depot.x | number:'1.5-5'}}</pre>
    </div>
    <div>
      <pre>y: {{depot.y | number:'1.5-5'}}</pre>
    </div>
  </div>

  <hr>

  <mat-list dense>
    <mat-list-item>
      <mat-form-field class="full-width">
        <mat-select placeholder="Surface type"
                    (selectionChange)="changePaneType()"
                    [disabled]="canEditProblem()"
                    (change)="changePaneType()"
                    [(ngModel)]="currentProblem.paneType">
          <mat-option value="simple">Simple</mat-option>
          <mat-option value="earth">Earth</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field class="full-width">
        <input [disabled]="canEditProblem()" matInput type="number" placeholder="Truck capacity"
               [(ngModel)]="currentProblem.capacity">
      </mat-form-field>
    </mat-list-item>
    <hr>
    <mat-list-item>
      <mat-form-field class="full-width">
        <mat-select placeholder="Algorithm" (change)="onAlgorithmChange()" [(ngModel)]="settings.algorithm">
          <mat-option *ngFor="let algorithm of algorithms"
                      [disabled]="!algorithm.active"
                      [value]="algorithm.code">{{ algorithm.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item *ngIf="distancesAllowed">
      <mat-form-field class="full-width">
        <mat-select placeholder="Distance calculation type" [(ngModel)]="settings.distanceType">
          <mat-option *ngFor="let distance of distances"
                      [value]="distance.code">
            {{ distance.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
  </mat-list>

  <div *ngIf="currentProblem.algorithm?.additionalSettings?.length">
    <hr/>

    <mat-list dense>
      <mat-list-item *ngFor="let setting of additionalSettings"
                     [ngSwitch]="setting.type">
        <mat-form-field class="full-width" *ngSwitchCase="'NUMBER'">
          <input matInput type="number" placeholder="{{setting.description}}" [(ngModel)]="setting.value">
        </mat-form-field>
        <mat-form-field class="full-width" *ngSwitchCase="'SELECT'">
          <mat-select placeholder="{{setting.description}}" [(ngModel)]="setting.value">
            <mat-option *ngFor="let opt of setting.opts"
                        [value]="opt.v">
              {{ opt.k }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width" *ngSwitchDefault>
          <input matInput type="text" placeholder="{{setting.description}}" [(ngModel)]="setting.value">
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </div>

  <hr/>

  <div class="button-row" class="add-panel">
    <button mat-raised-button color="primary" [disabled]="!depot" (click)="solve()">Solve</button>
  </div>
</div>
